version: 2.1

orbs:
  # https://circleci.com/orbs/registry/orb/circleci/docker-publish
  docker-publish: circleci/docker-publish@0.1.3

jobs:
  build:
    environment:
      - TZ: "/usr/share/zoneinfo/America/Los_Angeles"
      - CONTAINER_NAME: "mgoubran/miracl"
    docker:
      - image: docker:18.06.3-ce-git
    working_directory: /tmp/src/MIRACL
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker image
          no_output_timeout: 60m
          command: |
            # Build docker image
            MIRACL_VERSION=$(cat /tmp/src/MIRACL/miracl/version.txt)
            echo "miracl version is ${MIRACL_VERSION}"
            e=1 && for i in {1..5}; do
              docker build \
                --rm=false \
                -t ${CONTAINER_NAME} \
                -f /tmp/src/MIRACL/Dockerfile \
                --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` \
                --build-arg VCS_REF=`git rev-parse --short HEAD` \
                --build-arg VERSION="${CIRCLE_TAG:-$THISVERSION}" . \
              && e=0 && break || sleep 15
            done && [ "$e" -eq "0" ]
      - run:
          name: Run Tests
          no_output_timeout: 2h
          command: |
            echo "Running tests:"
            docker run -it mgoubran/miracl echo "Docker run test"
      - store_test_results:
          path: /tmp/tests
  build-singularity:
    docker:
      - image: ubuntu:latest
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Install dependencies
          command: |
            apt-get update && apt-get install -y \
            build-essential \
            uuid-dev \
            libgpgme-dev \
            squashfs-tools \
            libseccomp-dev \
            wget \
            pkg-config \
            git \
            cryptsetup-bin
            echo "SUCCESS"
      #- run:
      #    name: Build Singularity image
      #    no_output_timeout: 60m
      #    command: |
      #      # Build Singularity image
      #      echo "Running tests:"
      #      docker run -it mgoubran/miracl echo "Docker run test"
      #      docker images
      #      docker rmi `docker images | grep "<none>" | awk {'print $3'}`
      #      docker images
      #      IMAGE_ID=$(docker images --filter="reference=${CONTAINER_NAME}:latest" --quiet)
      #      echo ${IMAGE_ID}
      #      #pwd
      #      #docker run -it --rm -v "/tmp/src/MIRACL:/test" quay.io/singularity/singularity:v3.10.3 pull --dir "/test" docker://ubuntu:latest
      #      #ls -la /tmp/src/MIRACL
      #      #ls -la /tmp/src/MIRACL
      #      #docker save ${CONTAINER_NAME}:latest -o /tmp/src/MIRACL/test.tar
      #      #ls -la /tmp/src/MIRACL
      #      #docker run -it --rm -v "/tmp/src/MIRACL:/test" quay.io/singularity/singularity:v3.10.3 build /test/test.sif /test/test.tar 
      #      #docker run -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/src/MIRACL:/output --privileged -t --rm singularityware/docker2singularity mgoubran/miracl:latest

workflows:
  build_and_test:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - build-singularity:
          requires:
            build
          filters:
            branches:
              ignore: 
                - master
                - docs*

  build_without_publishing_job:
    jobs:
      - docker-publish/publish:
          image: mgoubran/miracl
          deploy: false
          tag: latest
          filters:
            branches:
              ignore: 
                - master
                - docs*
          after_build:
            - run:
                name: Preview Docker Tag for Build
                command: |
                   DOCKER_TAG=$(docker run --entrypoint /bin/cat mgoubran/miracl:latest /code/miracl/version.txt)
                   echo "Version for Docker tag is ${DOCKER_TAG}"

  # This workflow will deploy images on merge to master only
  docker_with_lifecycle:
    jobs:
      - docker-publish/publish:
          image: mgoubran/miracl
          tag: latest
          filters:
            branches:
             only: master
          after_build:
            - run:
                name: Publish Docker Tag with MIRACL Version
                command: |
                   DOCKER_TAG=$(docker run --entrypoint /bin/cat mgoubran/miracl:latest /code/miracl/version.txt)
                   echo "Version for Docker tag is ${DOCKER_TAG}"
                   docker tag mgoubran/miracl:base-latest mgoubran/miracl:base-${DOCKER_TAGs}
                   docker tag mgoubran/miracl:latest mgoubran/miracl:${DOCKER_TAG}

